# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/
.env

# Django
*.sqlite3
*.log
db.sqlite3

# VS Code / IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS / Linux
.DS_Store
*.swp
